<div class="modal">
    <div class="close-modal"><p>&times;</p></div>
    <form action="">
        <div class="form-fields">
            <div class="form-attribute">
                <label for="account_name">Account Name:</label>
                    <input type="text" name="account_name">
                    <div class="account-name-error error-field"></div>
            </div>
            <%- include("../partials/form-fields"); %>
        </div>
        <div class="submit-button-div">
            <button class="create-password open-result-modal">Save</button>
        </div>
    </form>
</div>
<div id="overlay"></div>

<div class="result-modal">
    <p class="result-text"></p>
    <div class="options">
        <button class="result-yes close-result-modal">Yes</button>
        <button class="result-ok close-result-modal">Ok</button>
        <button class="result-no close-result-modal">No</button>
    </div>
</div>
<div id="result-overlay"></div>