<div class="delete-result-modal">
    <p class="delete-result-text"></p>
    <div class="options">
        <button class="delete-yes">Yes</button>
        <button class="delete-ok">Ok</button>
        <button class="delete-no">No</button>
    </div>
</div>
<div id="delete-result-overlay"></div>