<div class="password-account-modal">
    <div class="close-password-account-modal" onclick="reset()"><p>&times;</p></div>
    <div class="password-account-main">
        <div class="password-account-name">
            <div class="password-account-initial">
                <p class="initial"> <%= account.accountName[0] %> </p>
            </div>
            <div class="password-account-fullname">
                <p class="fullname"> <%= account.accountName %> </p>
            </div>
        </div>
        <div class="password-account-details">
            <form action="">
                <div class="form-fields">
                    <div class="form-attribute">
                        <label for="username">Username:</label>
                            <input type="text" name="username" id="account-username" value="<%= account.accountUsername %>" disabled>                
                    </div>
                    <div class="form-attribute">
                        <label for="password">Password:</label>
                            <input type="password" name="password" id="account-password" value="<%= account.accountPassword %>" disabled/>
                    </div>
                </div>
                <div class="password-manipulation">
                    <span class="password-manipulation-copy" onclick="copyPassword()">copy</span> /
                    <span class="password-manipulation-reveal" onclick="showPassword(jQuery('.password-account-modal.active #account-password').val())">reveal</span> /
                    <span class="password-manipulation-share" onclick="sharePassword()">share</span>
                </div>
            </form>
            <div class="password-account-modal-button-options">
                <button class="modify password-account-button" onclick="enableFields()">Modify</button>
                <button class="save password-account-button open-password-result-modal">Save</button>
                <div class="password-result-modal">
                    <p class="password-result-text">update success!</p>
                    <div class="options">
                        <button class="result-ok close-password-result-modal">Ok</button>
                    </div>
                </div>
                <div id="password-result-overlay"></div>
            </div>
        </div>
    </div>
</div>
<div id="password-account-overlay"></div>