<div class="form-attribute">
    <label for="email">Username:</label>
        <input type="text" name="username" class="username">
        <div class="username-error"></div>
</div>
<div class="form-attribute">
    <label for="password">Password:</label>
        <input type="password" name="password" class="password">
        <div class="password-error"></div>
</div>