<div class="form-attribute">
    <label for="email">Email:</label>
        <input type="text" name="email" class="email">
        <div class="email-error error-field"></div>
</div>
<div class="form-attribute">
    <label for="password">Password:</label>
        <input type="password" name="password" class="password">
        <div class="password-error error-field"></div>
</div>