<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global.css">
    <title>Safe Store</title>
</head>
<body>
    
    <header>
        <h3 class="page-heading">Safe Store</h3>
        <p class="username">logged in as <%= user.email %></p>
    </header>
<%- include("partials/footer") %>