<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/global.css">
    <link rel="stylesheet" href="/styling/pre-login-forms.css">
    <title>Login</title>
</head>
<body>
    <div class="main-content">
        <div class="paper-stack-form">
            <form>
                <div class="form-header">
                    <h3 class="form-heading">Safe Store</h3>
                    <p class="page-indicattion">login</p>
                </div>
               <div class="form-body">
                    <%- include("partials/form-fields"); %> 
                </div>
                <div class="form-footer">
                    <button class="login-button">Login</button>
                    <span>-- or --</span>
                    <a href="/api/sign-up" class="sign-up-button">Sign Up</a>
                </div>
            </form>
        </div>
    </div>

<script>
    const form = document.querySelector("form");
    
    // error fields
    let emailError = document.querySelector(".email-error");
    let passwordError = document.querySelector(".password-error");

    form.addEventListener("submit", async function(event) {
        event.preventDefault();

        // resting the error fields
        emailError.textContent = "";
        passwordError.textContent = "";

        // form fields to be submitted
        let email = form.email.value;
        let password = form.password.value;

        try {
            if(password.length < 8) {
                passwordError.textContent = "Password has to be 8 characters or more";
                return;
            }

            let response = await fetch("/api/login/users", {
                method: "POST",
                body: JSON.stringify({ email, password }),
                headers: { "Content-Type": "application/json" }
            });

            let data = await response.json();

            if(data.errorMessages) {
                renderErrors(data.errorMessages);
            }

            if(data.user) {
                redirect();
            }
        } catch(err) {
            console.log(err);
        }
    });

    // error hanlder
    function renderErrors(errors) {
        emailError.textContent = errors.email;
        passwordError.textContent = errors.password;        
    }

    // redirects to home page
    function redirect() {
        location.assign("/");
    }
</script>
<%- include("partials/footer") %>