header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid #FF7A00;
    border-radius: 4px;
}

.home-main {
    display: flex;
    height: 78vh;
    margin: 1rem;
}
    .passwords-view {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 2rem;
        width: 75%;
        height: 100%;
        padding: 1rem;
        border: 1px solid #FF7A00;
        border-radius: 4px;
    }
        .no-passwords-div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        
        }
        
        .password-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 7rem;
            height: 7rem;
            padding: .5rem;
            border: 1px solid #9C9C9C;
            border-radius: 4px;
        }
            .password-card-initial {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-around;
            }
            .password-card-details {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                align-items: center;
            }

    .operations-view {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23%;
        padding: 1rem;
        margin-left: 2rem;
        border: 1px solid #FF7A00;
        border-radius: 4px;
    }
        .operation-search {
            width: 100%;
            height: 2rem;
            padding: 0 .5rem;
            border-radius: 4px;
        }
            .no-search-result {
                display: none;
            }
            .no-search-result.active {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .delete-options {
                display: none;
            }
            .delete-options.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
            }
                .delete-option-main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }
                    .delete-main-account, .delete-option-password, .delete-password-account {
                        display: flex;
                        gap: .5rem;
                    }
                        .delete-options-seperator {
                            width: 6rem;
                            height: .2rem;
                        }

                    .delete-option-password {
                        flex-direction: column;
                    }
                        .delete-account-name:hover {
                            cursor: pointer;
                        }
                .delete-cancel:hover {
                    cursor: pointer;
                }
        .operation-log-out {
            display: flex;
            justify-content: center;
          }

/* styling for modal form when user creates account */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 10;
    background-color: #ffff;
    width: 45%;
    display: flex;
    flex-direction: column;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
    .close-modal {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0.4rem;
    }
        .close-modal > p {
            font-size: 1.7rem;
            cursor: pointer;
        }

    /* for every form there is on the application this styling will apply */
    .form-fields {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.4rem;
        padding: 0 1.4rem;
    }
        .form-attribute {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }
            .form-attribute > input {
                width: 100%;
                height: 1.5rem;
                padding: 1rem 0.5rem;
            }
    /* end of form styling */

        .submit-button-div {
            display: flex;
            justify-content: center;
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
            .submit-button-div button {
                width: 5rem;
                height: 2rem;
            }

#overlay {
    position: fixed;
    transition: 550ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* end of styling for modal form when user creates account */



/* styling of modal for result when user attempts to create account */
.result-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 11;
    background-color: #ffff;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem;
}
.result-modal.active {
    transform: translate(-50%, -50%) scale(1);
}
    .options {
        display: flex;
        gap: 1.5rem;
    }
        .options > button {
            display: none;
            width: 5rem;
            height: 2rem;
        }
        .options > button.active {
            display: block;
        }

#result-overlay {
    position: fixed;
    transition: 550ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#result-overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* end of styling of modal for result when user attempts to create account */



/* styling of password account modal for when user clicks password button */
.password-account-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    /* border: 1px solid black; */
    width: 45%;
    border-radius: 5px;
    z-index: 10;
    background-color: #ffff;
}
.password-account-modal.active {
    transform: translate(-50%, -50%) scale(1);
}
    .close-password-account-modal {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0.4rem;
    }
        .close-password-account-modal > p {
            font-size: 1.7rem;
            cursor: pointer;
        }

    .password-account-main {
        display: flex;
    }
        .password-account-name {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
            background-color: aqua;
        }
            .password-account-inital {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: aqua;
                height: 80%;
                width: 100%;
            }
                .password-account-fullname {
                    display: flex;
                    background-color: #fff;
                    width: 100%;
                    height: 20%;
                    justify-content: center;
                    padding: .8rem 0;                
                }

        .password-account-details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 70%;
            padding: 0 1.4rem;
        }   
            .password-account-details > form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: .3rem;
            }
                .password-account-details > form > .form-fields {
                        padding: 0;
                    }
            .password-account-modal-button-options {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                margin: 1rem 0 .7rem;
            }
                .password-account-button {
                    width: 5rem;
                    height: 2rem;
                  }
#password-account-overlay {
    position: fixed;
    transition: 550ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#password-account-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.password-result-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 11;
    background-color: #ffff;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem;
}
.password-result-modal.active {
    transform: translate(-50%, -50%) scale(1);
}
#password-result-overlay {
    position: fixed;
    transition: 550ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#password-result-overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* end of styling of password account modal for when user clicks password button */



/* styling for delete modal */
.delete-result-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 10;
    background-color: #ffff;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem;
}
.delete-result-modal.active {
    transform: translate(-50%, -50%) scale(1);
}
    .options {
        display: flex;
        gap: 1.5rem;
    }
        .options > button {
            display: none;
            width: 5rem;
            height: 2rem;
        }
        .options > button.active {
            display: block;
        }

#delete-result-overlay {
    position: fixed;
    transition: 550ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#delete-result-overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* end of styling for delete modal */



/* hides elements that contains the hidden class */
.hide {
    display: none;
}
/* end of hiding elements that contains the hidden class */



/* footer styling */
footer {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
/* end of footer styling */